/*
* { padding: 0; margin: 0; font-family: monospace; }
*/
* { font-family: monospace; }
p { margin: 0; }

div#app { margin: 0 auto; min-width: 750px; max-width: 1000px; }

div#header { width: 90%; margin: 0 auto; border-radius: 2vw; }
div#header.connected { background-color: #bbffbb; }
div#header.disconnected { background-color: red; }
div#header h1 { text-align: center; padding: 1vw; }

div.section { width: 88%; margin: 0 auto; }
div.section h2 { padding: 0.2vw 0; border-bottom: 2px dashed lightgray; }

div#mempoolchart { width: 80%; margin: 0 auto; }

div#donations img { width: 100px; }

table { width: 100%; }
th, td { text-align: center; }
th { border: 1px dotted black; }
td { border: 1px dotted lightgray; }

.ct-chart .ct-line { stroke-width: 2px; }
.ct-chart .ct-point { stroke-width: 4px; }

.ct-chart .ct-series-a .ct-line, .ct-chart .ct-series-a .ct-point { stroke: #ff00f0; } /* 1000 */
.ct-chart .ct-series-b .ct-line, .ct-chart .ct-series-b .ct-point { stroke: #ff00c0; } /* 500 */
.ct-chart .ct-series-c .ct-line, .ct-chart .ct-series-c .ct-point { stroke: #ff00a0; }
.ct-chart .ct-series-d .ct-line, .ct-chart .ct-series-d .ct-point { stroke: #ff0000; }
.ct-chart .ct-series-e .ct-line, .ct-chart .ct-series-e .ct-point { stroke: #ee0000; } /* 250 */
.ct-chart .ct-series-f .ct-line, .ct-chart .ct-series-f .ct-point { stroke: #dd0000; }
.ct-chart .ct-series-g .ct-line, .ct-chart .ct-series-g .ct-point { stroke: #cc0000; }
.ct-chart .ct-series-h .ct-line, .ct-chart .ct-series-h .ct-point { stroke: #bb0000; } /* 100 */
.ct-chart .ct-series-i .ct-line, .ct-chart .ct-series-i .ct-point { stroke: #aa0000; }
.ct-chart .ct-series-j .ct-line, .ct-chart .ct-series-j .ct-point { stroke: #990000; }
.ct-chart .ct-series-k .ct-line, .ct-chart .ct-series-k .ct-point { stroke: #880000; } /* 25 */
.ct-chart .ct-series-l .ct-line, .ct-chart .ct-series-l .ct-point { stroke: #770000; }
.ct-chart .ct-series-m .ct-line, .ct-chart .ct-series-m .ct-point { stroke: #660000; }
.ct-chart .ct-series-n .ct-line, .ct-chart .ct-series-n .ct-point { stroke: #000000; } /* 10 */
.ct-chart .ct-series-o .ct-line, .ct-chart .ct-series-o .ct-point { stroke: #444444; } /* 5 */
.ct-chart .ct-series-p .ct-line, .ct-chart .ct-series-p .ct-point { stroke: #666666; }
.ct-chart .ct-series-q .ct-line, .ct-chart .ct-series-q .ct-point { stroke: #888888; }
.ct-chart .ct-series-r .ct-line, .ct-chart .ct-series-r .ct-point { stroke: #aaaaaa; }
.ct-chart .ct-series-s .ct-line, .ct-chart .ct-series-s .ct-point { stroke: #cccccc; } /* 1 */

div#chooser { text-align: right; margin-bottom: 5px; margin-right: 10%; }
.selected { background: navy; color: white; }
.selected, .deselected {
    /* css mate. */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: inline-block;
    padding: 7px;
    font-weight: bold;
}
.deselected { border: 1px dotted lightgray; }

/* dark mode tweaks */
/*
body { background-color: #001534; color: white; }
h1 { color: black; }
a { color: lightgray; }
th { border: 1px dotted white; }
.ct-chart .ct-axis-title { color: darkgray; }
.ct-chart .ct-grids line { stroke: lightgray; }
.ct-chart .ct-labels span { color: lightgray; }
*/
