<!doctype html>

<head>
    <meta charset="utf-8">
    <title>bitcoind-nonsense</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="c3.css">
    <script src="vue.min.js"></script>
    <script src="moment.min.js"></script>
    <script src="d3.v3.min.js"></script>
    <script src="c3.min.js"></script>
    <script src="index.js"></script>
</head>

<body>
    <div id="app" v-cloak>
        <div id="header"
            :class="connected ? 'connected' : 'disconnected'"
        >
            <h1>
                esotericnonsense.com:8333
                {{ connected ? '' : '(disconnected)' }}
            </h1>
        </div>

        <div class="section" id="tab-chooser">
            <span
                :class="tab === 'mempool-chart' ? 'selected' : 'deselected'"
                v-on:click="setTab('mempool-chart')">
                mempool chart
            </span>
            <span
                :class="tab === 'mempool-table' ? 'selected' : 'deselected'"
                v-on:click="setTab('mempool-table')">
                mempool table
            </span>
            <span
                :class="tab === 'blocks' ? 'selected' : 'deselected'"
                v-on:click="setTab('blocks')">
                blocks
            </span>
            <span
                :class="tab === 'peers' ? 'selected' : 'deselected'"
                v-on:click="setTab('peers')">
                peers
            </span>
            <span
                :class="tab === 'network-chart' ? 'selected' : 'deselected'"
                v-on:click="setTab('network-chart')">
                network chart
            </span>
        </div>

        <div id="tab-mempool-chart" class="tab"
            :class="tab === 'mempool-chart' ? 'visible' : 'invisible'"
        >

        <div class="section" id="mempool-chart-chooser">
            <span
                :class="data === 5 ? 'selected' : 'deselected'"
                v-on:click="setData(5)">
                tx
            </span>
            <span
                :class="data === 6 ? 'selected' : 'deselected'"
                v-on:click="setData(6)">
                size / MiB
            </span>
            <span
                id="last_leftside_chooser"
                :class="data === 7 ? 'selected' : 'deselected'"
                v-on:click="setData(7)">
                amt / mBTC
            </span>
            <span
                :class="range === 30 ? 'selected' : 'deselected'"
                v-on:click="setRange(30)">
                30m
            </span>
            <span
                :class="range === 120 ? 'selected' : 'deselected'"
                v-on:click="setRange(120)">
                2h
            </span>
            <span
                :class="range === 240 ? 'selected' : 'deselected'"
                v-on:click="setRange(240)">
                4h
            </span>
            <span
                :class="range === 480 ? 'selected' : 'deselected'"
                v-on:click="setRange(480)">
                8h
            </span>
            <span
                :class="range === 1440 ? 'selected' : 'deselected'"
                v-on:click="setRange(1440)">
                24h
            </span>
            <span
                :class="range === 2880 ? 'selected' : 'deselected'"
                v-on:click="setRange(2880)">
                2d
            </span>
            <span
                :class="range === 5760 ? 'selected' : 'deselected'"
                v-on:click="setRange(5760)">
                4d
            </span>
            <span
                :class="range === 10080 ? 'selected' : 'deselected'"
                v-on:click="setRange(10080)">
                7d
            </span>
            <span
                :class="range === 20160 ? 'selected' : 'deselected'"
                v-on:click="setRange(20160)">
                14d
            </span>
            <span
                :class="range === 40320 ? 'selected' : 'deselected'"
                v-on:click="setRange(40320)">
                28d
            </span>
        </div>

        <div id="mempoolchart"></div>

        </div>

        <div id="tab-mempool-table" class="tab"
            :class="tab === 'mempool-table' ? 'visible' : 'invisible'"
        >

        <div class="section" v-if="mempoolbins">
            <h2>mempool info (next update in {{ Math.max(0, Math.floor(range/2 - (now - last_updated))) }}s)</h2>
            <p>
                Transactions: {{ mempoolbins.size }} {{ mempoolbins.size_segwit !== "?" ? `(${mempoolbins.size_segwit} segwit)` : "" }}
            </p>
            <p>
                Size: {{ mempoolbins.bytes }} bytes
            </p>
            <p>
                Fees: {{ (mempoolbins.fees / 10**5).toFixed(2) }} mBTC
            </p>
        </div>

        <div class="section" v-if="mempoolbins">
            <h2>mempool contents</h2>
            <table>
                <thead>
                    <tr>
                        <th style="border: none;"></th>
                        <th colspan=3>this bin</th>
                        <th colspan=3>cumulative</th>
                    </tr>
                    <tr>
                        <th>limits / sat/b</th>
                        <th>tx</th>
                        <th>size / B</th>
                        <th>amt / mBTC</th>
                        <th>tx</th>
                        <th>size / B</th>
                        <th>amt / mBTC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="bin in mempoolbins.bins">
                        <td>{{ bin[0] }} - {{ (bin[1] < 21*(10**14)) ? bin[1] : 'max' }}</td>
                        <td>{{ bin[2] }}</td>
                        <td>{{ bin[3] }}</td>
                        <td>{{ (bin[4]/(10**5)).toFixed(2) }}</td>
                        <td>{{ bin[5] }}</td>
                        <td>{{ bin[6] }}</td>
                        <td>{{ (bin[7]/(10**5)).toFixed(2) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        </div>

        <div id="tab-blocks" class="tab"
            :class="tab === 'blocks' ? 'visible' : 'invisible'"
        >

        <div class="section" v-if="blocks">
            <h2>blocks</h2>
            <table>
                <thead>
                    <th>age</th>
                    <th>height</th>
                    <th>hash</th>
                    <th>fees/mBTC</th>
                    <th>fees/%</th>
                    <th>tx</th>
                    <th>tx<sub>SW</sub>/%</th>
                    <th>log<sub>2</sub>(work)</th>
                    <th>size/MiB</th>
                </thead>
                <tbody>
                    <tr
                        v-for="block in sortedBlocks"
                    >
                        <td>{{ (now - block.time) | timeInterval }}</td>
                        <td>{{ block.height }}</td>
                        <td class="blockhashtd">{{ block.hash }}</td>
                        <td>{{ (block.fees*1000).toFixed(2) }}</td>
                        <td>{{ (block.fees*100/(block.fees + block.subsidy)).toFixed(2) }}</td>
                        <td>{{ block.tx_count }}</td>
                        <td>{{ (block.tx_count_segwit*100/block.tx_count).toFixed(1) }}</td>
                        <td>{{ (Math.log(parseInt(block.chainwork, 16))/Math.log(2)).toFixed(3) }}</td>
                        <td>{{ (block.size/1048576).toFixed(3) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        </div>

        <div id="tab-peers" class="tab"
            :class="tab === 'peers' ? 'visible' : 'invisible'"
        >

        <div class="section" v-if="peers">
            <h2>peers</h2>
            <table>
                <thead>
                    <th>address</th>
                    <th>subver</th>
                    <th>inbound</th>
                    <th>connected</th>
                    <th>blocks</th>
                    <th>recv / MiB</th>
                    <th>sent / MiB</th>
                </thead>
                <tbody>
                    <tr
                        v-for="peer in peers"
                    >
                        <td>{{ peer.addr }}</td>
                        <td>{{ peer.subver.replace("<", "").replace(">", "") }}</td>
                        <td>{{ peer.inbound ? "y" : "n" }}</td>
                        <td>{{ (now - peer.conntime) | timeInterval }}</td>
                        <td>{{ peer.synced_blocks }}</td>
                        <td>{{ (peer.bytesrecv/1048576).toFixed(2) }}</td>
                        <td>{{ (peer.bytessent/1048576).toFixed(2) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        </div>

        <div id="tab-network-chart" class="tab"
            :class="tab === 'network-chart' ? 'visible' : 'invisible'"
        >

        <div class="section" id="network-chart-chooser">
            <span
                :class="range === 30 ? 'selected' : 'deselected'"
                v-on:click="setRange(30)">
                30m
            </span>
            <span
                :class="range === 120 ? 'selected' : 'deselected'"
                v-on:click="setRange(120)">
                2h
            </span>
            <span
                :class="range === 240 ? 'selected' : 'deselected'"
                v-on:click="setRange(240)">
                4h
            </span>
            <span
                :class="range === 480 ? 'selected' : 'deselected'"
                v-on:click="setRange(480)">
                8h
            </span>
            <span
                :class="range === 1440 ? 'selected' : 'deselected'"
                v-on:click="setRange(1440)">
                24h
            </span>
            <span
                :class="range === 2880 ? 'selected' : 'deselected'"
                v-on:click="setRange(2880)">
                2d
            </span>
            <span
                :class="range === 5760 ? 'selected' : 'deselected'"
                v-on:click="setRange(5760)">
                4d
            </span>
            <span
                :class="range === 10080 ? 'selected' : 'deselected'"
                v-on:click="setRange(10080)">
                7d
            </span>
            <span
                :class="range === 20160 ? 'selected' : 'deselected'"
                v-on:click="setRange(20160)">
                14d
            </span>
            <span
                :class="range === 40320 ? 'selected' : 'deselected'"
                v-on:click="setRange(40320)">
                28d
            </span>
        </div>

        <div id="networkchart"></div>

        </div>

        <div class="section" id="donations">
            <h2>donations</h2>
            <p>
                <a href="bitcoin:3BYFucUnVNhZjUDf6tZweuZ5r9PPjPEcRv"><img src="./3BYFucUnVNhZjUDf6tZweuZ5r9PPjPEcRv.png"></img></a>
            </p>
            <p>
                <a href="bitcoin:3BYFucUnVNhZjUDf6tZweuZ5r9PPjPEcRv">3BYFucUnVNhZjUDf6tZweuZ5r9PPjPEcRv</a> (bitcoin)
            </p>
        </div>
        <div class="section">
            <h2>notes</h2>
            <p>
                all data here is gleaned from the node running at esotericnonsense:8333
            </p>
            <p>
                note that there is no universal mempool, your results may differ
            </p>
            <p>
                mobile viewing is suboptimal - sorry :(
            </p>
        </div>
    </div>
</body>
