/*
* { padding: 0; margin: 0; font-family: monospace; }
*/
* { font-family: monospace; }
p { margin: 0; }

div#app { margin: 0 auto; min-width: 750px; max-width: 1000px; }

div#header { width: 90%; margin: 0 auto; border-radius: 2vw; }
div#header.connected { background-color: #bbffbb; }
div#header.disconnected { background-color: red; }
div#header h1 { text-align: center; padding: 1vw; }

div.invisible { display: none; }

div.section { width: 88%; margin: 0 auto; }
div.section h2 { padding: 0.2vw 0; border-bottom: 2px dashed lightgray; }

div#mempoolchart { width: 90%; height: 500px; margin: 0 auto; }

div#donations img { width: 100px; }

table { width: 100%; }
th, td { text-align: center; }
th { border: 1px dotted black; }
td { border: 1px dotted lightgray; }

div#chooser { text-align: right; margin-bottom: 5px; margin-right: 6%; }
div#chooser span#last_leftside_chooser { margin-right: 1vw; }
.selected { background: navy; color: white; }
.selected, .deselected {
    /* css mate. */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: inline-block;
    padding: 7px;
    font-weight: bold;
}
.deselected { border: 1px dotted lightgray; }

[v-cloak] { display: none; }

/* dark mode tweaks */
/*
body { background-color: #001534; color: white; }
h1 { color: black; }
a { color: lightgray; }
th { border: 1px dotted white; }
.ct-chart .ct-axis-title { color: darkgray; }
.ct-chart .ct-grids line { stroke: lightgray; }
.ct-chart .ct-labels span { color: lightgray; }
*/
